#root {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  min-height: 50em;
}

body {
  background: hsla(298, 68%, 90%, 1);
  background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6D5F7", endColorstr="#FBE9D7", GradientType=1 );
}

h1 {
  font-size: 2rem;
}

.btn {
  margin-left: 2em;
  background-color: #D9F6E0;
  transition: transform, color 0.3s ease-in-out, filter 300ms;
}

.btn:hover {
  transform: translate(-5px);
  filter: drop-shadow(0 0 1em #D9F6E9);
  cursor: pointer;
}

.btn.dangerous {
  background-color: #F6D9F0;
}

.btn.dangerous:hover {
  filter: drop-shadow(0 0 1em #F6D9F9);
}

ul {
  list-style: none;
  margin: 1em;
}

.itemInput {
  flex-grow: 1;
  width: 25em;
  height: 2em;
  margin-right: 1em;
}

.itemBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40em;
  padding: 1.3em;
  border-style: solid;
  border-radius: 1.5em;
}

.itemBox:hover {
  background-color: #f3e0be;
}
.searchInput {
  margin-left: 1em;
}

.checkBox {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  cursor: pointer;
  border: none;
}

.text {
  text-align: start;
  margin-right: 1em;
  width: 30em;
}